html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #b59b8b;
}

h1,
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

section article {
  width: 33%;
  float: left;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
.container {
  max-width: 800 px;
  margin: 5%;
  background: #e9f9f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Карточки */
.product {
  border: 2px solid #09290b;
  border-radius: 5px;
  background-color: #e9f9f1;
  padding: 10px;
  margin-bottom: 10px; /* Отступ между карточками */
  transition: all 0.3s ease;
}

.product:hover {
  transform: scale(1.05); /* Увеличение контейнера при наведении */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Тень */
}

/* Заголовок товара */
.product h2 {
  margin: 5px 0; /* Уменьшаем отступы */
  color: #09290b;
  line-height: 1.2; /* увеличение межстрочного интервала */
  letter-spacing: 0.5px; /* раздвижение букв */
}

/* Текстовые блоки внутри карточки */
.product p {
  margin: 5px 0; /* отступ между параграфами */
  line-height: 1.3; /* высота строки*/
}

#chat {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 290px;
  background-color: #e9f9f1;
  border: 1px solid #09290b;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Тень */
}

#chat h2 {
  font-size: 18px;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
  text-align: center;
}
#chatContainer {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}
#chatInput {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  background-color: #8a6d4e;
  color: white;
}
button:hover {
  background-color: #33281d;
}


input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #e9f9f1;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  background-color: #8a6d4e;
  color: white;
}
button:hover {
  background-color: #33281d;
}
.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  padding: 5px 10px;
}

.product {
  border: 2px solid #09290b;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 10px; /* Отступ между карточками */
  transition: all 0.3s ease;
}

.product:hover {
  transform: scale(1.05); /* Увеличение контейнера при наведении */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Заголовок товара */
.product h2 {
  margin: 5px 0;
  color: #09290b;
  line-height: 1.2; /*межстрочный интервала*/
  letter-spacing: 0.5px; /* раздвижение букв */
}

/* Текстовые блоки внутри карточки */
.product p {
  margin: 5px 0; /* отступ между параграфами */
  line-height: 1.3; /* высота строки*/
}
